*{
    margin: 0px;
    padding: 0px;
}
#top {
    color: goldenrod;
    font-size: 30px;
}


body{
    background-color: bisque;
    margin: auto;
    padding :20px 10px 30px 40px ;
    font-family: Arial, Helvetica, sans-serif;
}
.red-container{
 text-align:center;  
}
.list-container{
    background-color: aqua;
    color: aquamarine;
    display: flex;
    justify-content:space-around;

}


